{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<center>
			<div class="col-10 p-4">
				<div class="text-center">
					<h1 class="display-4 fw-bolder">خطای ۴۰۴</h1>
					<p class="display-4 fw-bolder">صفحه مورد نظر شما یافت نشد!</p>

					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center">
							<a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">صفحه اصلی</a>
							<a class="btn btn-outline-dark mt-auto" href="{% url 'shop' %}">فروشگاه</a>
						</div>
					</div>
				</div>
			</div>
		</center>
	</div>
</div>
{% endblock %}