{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">دسته بندی محصولات</h1>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-10 p-4">
			<ul>
				{% for category in all_category %}
				<a href="{% url 'category' category.tag  %}">
					<li>{{category}}</li>
				</a>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}