{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">سفارشات</h1>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<center>
			<div class="col-10 p-4">

				{% if orders %}
				<table class="table table-striped">
					<thead class="table-dark">
						<tr>
							<th scope="col">شماره سفارش</th>
							<th scope="col">نام گیرنده</th>
							<th scope="col">تاریخ ثبت سفارش</th>
							<th scope="col">مبلغ سفارش</th>
							<th scope="col">وضعیت</th>
						</tr>
					</thead>
					<tbody>

						{% for order in orders %}
						<tr>
							<th scope="row"><a href="{% url 'order_detail' order.id %}">سفارش شماره {{order.id}}</a>
							</th>
							<td>{{order.fullName}}</td>
							<td>{{order.date_ordered | date:"14y/m/d h:i:s"}}</td>
							<td>{{order.amount|intcomma}} تومان</td>
							<td><span class="badge rounded-pill 
											{% if order.status == 'pending' %}text-bg-primary
											{% elif order.status == 'processing' %}text-bg-info
											{% elif order.status == 'shipped' %}text-bg-warning
											{% elif order.status == 'delivered' %}text-bg-success
											{% else %}text-bg-primary{% endif %}">
									{{order.get_status_display}}</span>
							</td>

						</tr>
						{% endfor %}

					</tbody>
				</table>
				{% else %}
				<div class="row cart-item emptyCart mb-3">
					<div class="container col-md-12 text-center">
						<img src="../../static/img/empty-cart.svg" />
						<h4>سفارشی یافت نشد!</h4>
					</div>
				</div>
				{% endif %}

			</div>
		</center>
	</div>
</div>
{% endblock %}