{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">جزئیات سفارش</h1>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<center>
			<div class="col-10 p-4">
				<h3>سفارش {{order.id}} - {{order.amount}} تومان</h3>
				<table class="table table-striped">
					<thead class="table-dark">
						<tr>
							<th scope="col">نام گیرنده</th>
							<th scope="col">ایمیل</th>
							<th scope="col">آدرس گیرنده</th>
							<th scope="col">تاریخ ثبت سفارش</th>
							<th scope="col">سفارش وضعیت</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{order.fullName}}</td>
							<td>{{order.email}}</td>
							<td>{{order.shipping_address}}</td>
							<td>{{order.date_ordered | date:"14y/m/d h:i:s"}}</td>
							<td><span class="badge rounded-pill 
											{% if order.status == 'pending' %}text-bg-primary
											{% elif order.status == 'processing' %}text-bg-info
											{% elif order.status == 'shipped' %}text-bg-warning
											{% elif order.status == 'delivered' %}text-bg-success
											{% else %}text-bg-primary{% endif %}">
									{{order.get_status_display}}</span>
							</td>
						</tr>

					</tbody>
				</table>

				<h3>کالاهای سفارش داده شده</h3>
				<table class="table table-striped">
					<thead class="table-dark">
						<tr>
							<th scope="col">تصویر</th>
							<th scope="col">نام کالا</th>
							<th scope="col">قیمت</th>
							<th scope="col">تعداد</th>
						</tr>
					</thead>
					<tbody>

						{% for item in items %}
						<tr>
							<td><img class="img-thumbnail" src="{{item.product.product_image.url}}"></td>
							<td>{{item.product.product_name}}</td>
							<td>{{item.product.product_price}}</td>
							<td>{{item.quantity}}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</center>
	</div>
</div>
{% endblock %}