{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">ویرایش پروفایل
				{% if user.profile %}
				{{ user.first_name }} {{ user.last_name }}
				{% else %}
				<p>ناشناس</p>
				{% endif %}
			</h1>

		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<center>
			<div class="col-5 p-4">
				<h2>اطلاعات کاربری</h2>
				<form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data" novalidate>
					{% csrf_token %}
					{{form.as_p}}
					<h2>اطلاعات ارسال</h2>
					{{shipping_form.as_p}}
					<button type=" submit" class="btn btn-primary">ویرایش</button>
				</form>
				<br>
			</div>

		</center>
	</div>
</div>
{% endblock content %}