{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<div class="container">
	<div class="row">
		<div class="card p-4 mb-5 mt-4">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{product.product_image.url}}" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{product.product_name}}</h5>
						<p class="card-text">{{product.product_describtion}}</p>
						<p {% if product.is_sale %} class="is_sale" {% endif %}>
							{{product.product_price | intcomma}}تومان</p>

						{% if product.is_sale %}
						<p>{{product.sale_price | intcomma}} تومان</p>
						{% endif %}
						<p>تعداد</p>
						<select class="form-select" id="cart_qty">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
						<div class="card-footer pt-0 border-top-0 bg-transparent">
							<button class="btn btn-outline-dark mt-auto" type="button"
								data-product-id="{{ product.id }}" value="{{product.id}}" id="add_cart">افزودن به
								سبد خرید</ز>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).on('click', '#add_cart', function (e) {
		e.preventDefault();
		let productId = $(this).data('product-id');
		let quantity = $('#cart_qty').val();

		$.ajax({
			type: 'POST',
			url: '{% url "cart_add" %}',
			data: {
				product_id: productId,
				product_qty: quantity,
				csrfmiddlewaretoken: '{{ csrf_token }}',
				action: 'post'
			},
			dataType: 'json',
			success: function (json) {
				document.getElementById('cart_quantity').textContent = json.cart_quantity
				showToast(quantity + ' عدد به سبد خرید اضافه شد', 'success');
			},
			error: function (xhr, errmsg, err) {
				console.log(xhr.status + ": " + xhr.responseText);
				alert('خطا در افزودن به سبد خرید');
			}
		});
	});
</script>
{% endblock %}